.sidebar {
  width: 280px;
  background-color: #ffffff;
  border-right: 1px solid #dadce0;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  text-decoration: none;
}

.sidebar-header img {
  height: 36px;
  width: auto;
  margin-right: 10px;
}

.sidebar-title {
  font-size: var(--font-size-heading);
  font-weight: 500;
  color: var(--primary-text-color);
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-button {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: var(--font-size-sidebar);
  color: #202124;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-button:hover {
  background-color: #e8f0fe;
}

.sidebar-button.active {
  background-color: #e8f0fe;
  font-weight: 500;
}

.sidebar-icon {
  font-size: 18px;
}
