.item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  font-size: 18px;
  margin: 8px;
  border-radius: 8px;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.item-container:hover {
  background-color: #e6f0ff;
}

.item-name {
  font-weight: 500;
}

.file-size {
  margin-left: auto;
  color: var(--file-property-color);
  font-size: 14px;
}
