.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;

  margin: auto;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--auth-buttons-and-links-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form p {
  font-size: 0.8em;
  text-align: center;
}

p a {
  cursor: pointer;
  color: var(--auth-buttons-and-links-color);
}

.login-form button:hover {
  background-color: var(--auth-buttons-and-links-color-hover);
}

.link-button {
  border: none;
  cursor: pointer;
}

.link-button:hover {
  color: var(--auth-buttons-and-links-color-hover);
}

.error-message {
  color: var(--error-text-color);
}
